* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {
    padding: 0 10px;
}

.main_content {
    height: 100%;
}

.main_wrapper {
    min-height: 33%;
}

.header,
.left,
.center,
.right,
.footer_block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    height: 12vh;
    padding: 2em 0;
}


.center {
    border: dotted 1px black;
}

.left,
.right {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.left {
    background-color: #0d6efd;
}

.center {
    background-color: #0dcaf0;
}

.right {
    background-color: #20c997;
    order: 3;
}

.footer {
    height: 12vh;
    border-bottom: solid 1px black;
}

.row {
    height: 100%;
}

.col-sm-8 {
    border-left: solid 1px black;
}

.btn {
    width: 100%;
    height: 100%;
}

.footer_block {
    padding: 0;
}

.hide {
    display: none;
}
  

.hidden {
    display: none;
}


