.main {
  display: flex;
  align-self: center;
  background: linear-gradient(blue, pink);
  height: 100vh;
}

.container {
  margin: auto;
}

.px-4 {
  margin: auto;
}

.new_styles {
  width: 100%; 
  min-height: 100%; 
  color: white ; 
  position: relative; 
  z-index: 4;
}